@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface-900 text-white antialiased;
  }

  @media (display-mode: standalone) {
    body {
      padding-top: env(safe-area-inset-top, 0px);
    }
  }

  @media (display-mode: fullscreen) {
    body {
      padding-top: env(safe-area-inset-top, 0px);
    }
  }
}

@layer utilities {
  .safe-area-pb {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }
}
